body {
    background: $color-dominion-blue;
}

.main-wrapper {
    min-height: 100vh;
    height: 100%;
    background: $color-dominion-tan;
    border-left: solid 3px black;
    border-right: solid 3px black;
    .dominion-logo-wrapper {
        height: 111px;
        width: 100%;
        display: grid;
        grid-template-columns: 335px 1fr;
        .dominion-logo {
            height: 111px;
            width: 335px;
            background: url("../../assets/images/dominion_logo_trans.png");
            display: inline-block;
        }
        span {
            line-height: 111px;
            display: inline;
            color: $color-dominion-blue;
            font-size: 2.5vw;
            vertical-align: top;
        }
    }
    .cards-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        .dominion-card-wrapper {
            img {
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }
    }
}